/composer.lock
/.buildpath
/.project
/.settings/
/public/assets/n2n/
/public/assets/n2n-impl-web-dispatch/
/public/assets/n2n-impl-web-ui/
/public/assets/n2nutil-jquery/
/public/assets/rocket/
/public/assets/page/
/var/bak/rocket/
/var/etc/n2n/
/var/etc/n2n-impl-persistence-orm/
/var/etc/n2n-impl-web-dispatch/
/var/etc/n2n-impl-web-ui/
/var/etc/n2nutil-jquery/
/var/etc/rocket/
/var/etc/page/
/var/log/
/var/tmp/
/vendor/
/hangar/var/srv
/hangar/var/tmp
/public/files